# Mattermost
MM_URL=http://your-mattermost-server
MM_API_TOKEN=your_bot_personal_access_token
MM_SLASH_TOKEN=token_from_slash_command

# YouTrack
YT_URL=http://your-company.youtrack.cloud
YT_TOKEN=perm:your_permanent_token
YT_DEFAULT_PROJECT=HD

# Bot settings
BOT_PORT=8080
CONFIG_PATH=/app/config/config.yaml
